.logo img{
    width: 100%;
    height: 100%;
}
.nav_control{
font-size: 1.5rem;
font-family: Verdana;
font-weight: bolder;
}
.light.badge-primary {
background-color: rgb(255 108 91 / 10%);
color: #ff6a59;
margin-left: 10px;
}

.search-box{
background: #fff;
border-radius: 10px 10px;
}
.search-box .search-text{
border: none;
/* background: none; */
font-size: 18px;
width: 25vh;
height: 50px;
}

.search-box .search-btn{
padding-left: 15px;
background-color:#fff;
border: #fff;
border-radius: 10px 10px;
}
.search-text{
outline: none;
border-radius: 10px 10px;
}
.search-box.bi.bi-search{
color: rgb(253, 103, 3);
}
.col-1.bg-light{
    position: relative;
    top:10px;
    height: 99vh;
    border-radius: 50px 0 0 50px;
}

img.nation-eng {
    height: 40px;
}
.icon-right {
    font-size: 35px;
    background: #fbecef;
    margin-left: 50px;
    border-radius: 4px;
    position: relative;
    top:35vh;
    line-height: 80px;
}
.nation-en{
    position:absolute;
    bottom: 100px;
    width: 70px;
    height: 70px;
    left: 40px;

}   

.text-en{
    font-size: 20px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-weight: bold;
}
